#!/usr/bin/env ruby

# Preprocess rules for item pagination
preprocess do
    paginateArticles
    createTagItems
end

#############################
############### COMPILE RULES
#############################

# Assets
compile '/assets/css/*.{sc,sa,c}ss' do
    if item.identifier.ext == 'scss' or item.identifier.ext == 'sass'
        filter :sass, { :cache => false, :style => (@config[:debug] ? :compact : :compressed) }
    end
    filter :yui_compressor, { :type => 'css', :munge => true, :preserve_semicolons => false, :optimize => true } unless @config[:debug]
end

# JavaScript
compile '/assets/js/*.js' do
    filter :erb
    filter :uglify_js, { :mangle => { :sort => true }, :compress => { :drop_console => true } } unless @config[:debug]
end

# Robots.txt must be skipped
compile '/robots.txt/' do
    nil
end

compile '/**/*' do
    if item.binary?
        # If the item is a binary, skip it
        nil
    else
        case item.identifier.ext
        when 'md'
            filter :kramdown
        when 'html'
            nil
        else
            filter :erb
        end

        layout '/posts/' if item.identifier =~ '/posts/'

        layout item[:layout] if item[:layout]unless ['xml'].include?(item[:identifier])
        
        if item.identifier =~ '/guide/' or item.identifier =~ '/contact/' or item.identifier =~ '/about/'
            layout '/content_without_sidebar.*'
        else
            layout '/content_with_sidebar.*'
        end
        
        layout '/default.*'
    end
end

##############################
################ ROUTING RULES
##############################

route '/posts/feed.*' do
    item.identifier.without_exts + '.xml'
end

route '/browserconfig.*' do
    item.identifier.without_exts + '.xml'
end

route '/sitemap.*' do
    item.identifier.without_exts + '.xml'
end

route '/robots.txt' do
    '/robots.txt'
end

route '/pages/1/' do
    '/index.html'
end

route '/assets/**/*' do
    case item.identifier.ext
    when 'sass', 'scss'
        item.identifier.without_exts + '.' + 'css'
    else
        item.identifier.to_s
    end
end

route '/**/*' do
    if item.binary?
        # Write item with identifier /foo/ to /foo.ext
        item.identifier.to_s
    else
        # Write item with identifier /foo/ to /foo/index.html
        item.identifier.without_exts + '/index.html'
    end
end

layout '/**/*', :slim, { format: html, pretty: true, disable_escape: true }
