---
kind: livecd
layout: pages_with_sidebar
---
<% generic_sorted('changelog', 'time').each do |item| %>
  <article>
    <h3><%= item[:title] %> (<%= item[:date] %>)</h3>
    <%= item.compiled_content %>
  </article>
<% end %>
