.navbar-inverse {
	background-color: #7dd338;
}

.navbar-inverse .navbar-nav>li>a {
	color: #333;
}

.navbar-inverse .navbar-brand {
	color: #333;
}

.navbar-inverse .navbar-nav>.open>a {
	background-color: #8BD94C;
}

.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #006400;
}

.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #009E60;
}

.dropdown-menu>li>a:hover {
	background-color: #006400;
	background-image: inherit;
}

.dropdown-menu>li>a:focus {
	background-color: #009E60;
	background-image: inherit;
}

.navbar-inverse .navbar-toggle:hover {
	background-color: #006400;
	background-image: inherit;
}

.navbar-inverse .navbar-toggle:focus {
	background-color: #009E60;
	background-image: inherit;
}

.dropdown-toggle:focus {
	background-color: #009E60;
	background-image: inherit;
}

.dropdown-toggle:focus {
	background-color: #009E60;
	background-image: inherit;
}

.dropdown-menu>li>span {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	background-color: #C1E6A3;
}

.sections-sidetext {
	font-size: 12px;
}

.navbar-inverse .navbar-nav>li>span {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	line-height: 20px;
	border-radius: 0;
	color: #333;
	display: block;
}
