/* GENERIC STYLES

$theme-light-blue: #1abc9c
$theme-darker-blue: #16a085
$theme-inverse-color: #2c3e50
$theme-border-color: whitesmoke
$theme-buttons-color: #1a8a72
$text-inverse-color: white
$text-color: black
$text-color-darkest: #0B5042

html, body
  font-family: 'Montserrat Alternates', sans-serif
  height: 100%
  font-size: 1.075em
  line-height: 1.6
  letter-spacing: 0.005rem
  color: $text-color

a
  color: $theme-light-blue
  &:hover, &:focus
    color: $theme-darker-blue
    text-decoration: none

.navbar
  background-color: $theme-light-blue
  border-color: $theme-light-blue
  color: $text-inverse-color

.navbar
  .active
    background-color: $theme-inverse-color
    border-radius: 5px
  > .container .navbar-brand
    margin-left: 0

@mixin navbar-li-a 
  color: $text-color
  &:hover, &:focus
    background-color: $theme-inverse-color

@mixin menu-li-a
  &:hover, &:focus
    color: $text-color
    background-color: $theme-inverse-color

@mixin menu-li-active-span
  display: block
  padding: 3px 20px
  clear: both
  font-weight: 400
  color: $text-inverse-color
  white-space: nowrap
  background-color: $theme-inverse-color

.navbar-nav
  > li
    > a
      @include navbar-li-a
      color: $text-inverse-color
    > ul.dropdown-menu
      > li
        > a
          color: $text-color
        > span
          @include menu-li-active-span
      > li.dropdown-header
        font-size: 15px
        > ul
          -webkit-padding-start: 20px
          > li
            > a
              color: $text-color
            > span
              @include menu-li-active-span
    > span
      padding: 15px 15px 15px 15px
      line-height: 20px
      border-radius: 0
      display: block
  .open > a
    background-color: $theme-inverse-color
    &:hover, &:focus
      background-color: $theme-inverse-color

.navbar-toggle
  background-color: $theme-buttons-color 
  border: 1px solid $theme-border-color 
  &:focus, &:hover
    background-color: $theme-inverse-color

.icon-bar
  background-color: $theme-border-color

.pager li > a
  color: $text-inverse-color
  background-color: $theme-buttons-color
  font-weight: bold
  font-size: 14px
  &:hover, &:focus
    background-color: $theme-inverse-color

#main
  overflow: auto
  padding-bottom: 50px

#wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  padding-bottom: 50px

.bs-footer
  background-color: $theme-light-blue
  height: 50px
  margin-top: -50px
  font-size: 14px
  color: $text-inverse-color
  clear: both
  border-radius: 4px
  padding-top: 15px
  position: relative
  a
    color: white
    &:hover, &:focus
      color: $text-color-darkest 
      text-decoration: none

/* TEXT STYLES

.sections-sidetext
  font-size: 12px

p
  line-height: 1.7

.readmore
  text-align: right

.correlated-post
  font-size: 0.85em

#gplusauthorattribution
  display: none

/* VARIOUS STYLES

hr
  border-top: 1px solid $theme-darker-blue
  border-bottom: 1px solid $theme-darker-blue

/* POST SPECIFIC STYLES

.post_title
  font-size: 28px
  font-family: 'Hammersmith One'

.post_aside
  font-size: 16px
  font-family: 'Exo'

.post_content
  font-size: 16px

.navbar-logo
  max-height: 40px
  padding: 0

.navbar-brand
  padding: 4px 4px 4px 4px

.searchDiv
  margin-top: 10px
  margin-bottom: 10px
  padding: 5px

.search-with-google
  padding: 6px
  border-radius: 4px
  background-color: $theme-darker-blue
  color: $text-inverse-color

.atom-feed
  margin-top: 10px
  margin-bottom: 10px
  padding: 5px

@media screen and (max-width: 992px)
  #sidebarWrapper
    border-color: transparent

@media screen and (min-width: 993px)
  #sidebarWrapper
    border: 1px solid
    border-color: transparent
    border-left-color: $theme-light-blue 
