@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Exo:300&subset=latin,latin-ext);

/* GENERIC STYLES */
html, body {
	font-family: 'Montserrat Alternates', sans-serif;
	height: 100%;
}

a { color: #1abc9c; }
a:hover, a:focus { color: #16a085; text-decoration: none; }

.navbar { background-color: #1abc9c; border-color: #1abc9c; color: white; }
.navbar a { color: white; }

.navbar-nav>li>span { padding: 15px 15px 15px 15px; line-height: 20px; border-radius: 0; display: block; }
.navbar .active { background-color: #2c3e50; border-radius: 5px; }

.nav>li>a:hover, .nav>li>a:focus { background-color: #2c3e50; }
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus { background-color: #2c3e50; }

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #2c3e50; }

.dropdown-menu>li>span {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: white;
	white-space: nowrap;
	background-color: #2c3e50;
}

.pager li>a { color: white; background-color: #16a085; font-weight: bold; font-size: 14px; }
.pager li>a:hover, .pager li>a:focus { background-color: #2c3e50; }

#main { overflow: auto; padding-bottom: 50px; }

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 50px;
}

.bs-footer {
	background-color: #1abc9c;
	height: 50px;
	margin-top: -50px;
	font-size: 14px;
	color: #fff;
	clear: both;
	border-radius: 4px;
	padding-top: 15px;
	position: relative;
}

.bs-footer a { color: white; }
.bs-footer a:hover, .bs-footer a:focus { color: #0B5042; text-decoration: none; }

/* TEXT STYLES */
.text-center { font-weight: bold; }
.text-justify { text-align: justify; }
.sections-sidetext { font-size: 12px; }

p { line-height: 1.7; }

#gplusauthorattribution { display: none; }

/* VARIOUS STYLES */
hr { border-top: 1px solid #16a085; border-bottom: 1px solid #16a085; }

/* POST SPECIFIC STYLES */
.post_title { font-size: 28px; font-family: 'Hammersmith One'; }
.post_aside { font-size: 16px; font-family: 'Exo'; }
.post_content { font-size: 16px; }

#navbar-logo { max-height: 40px; padding: 0; }
.navbar-brand { padding: 4px 4px 4px 4px; }
