<% render 'default' do %>
	<div class="container">
		<div class="row">
			<div class="col-11">
				<%= yield %>
			</div>
			<div class="col-1">
				<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Right Skyscraper -->
				<ins class="adsbygoogle"
					style="display:inline-block;width:120px;height:600px"
					data-ad-client="ca-pub-4671015040339426"
					data-ad-slot="3834381951"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
<% end %>
