footer
  .bs-footer id="footer"
    .container
      p class="text-center"
        strong
          | Code and content by <a href="/about/">Fabio Scaccabarozzi</a>, color and design by <a href="http://www.miltubi.it/" target="_blank">Susanna Marsiglia</a><br>
          | Powered by <a href="http://nanoc.ws/" target="_blank">Nanoc</a> and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
