<div id="footer" class="bs-footer">
 <div class="container">
  <p class="text-center">Powered by <a href="http://nanoc.ws/">Nanoc</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
 </div>
</div>
