footer
    .container
      p class="text-center"
        strong
          | Code and content by <a href="/about/">Fabio Scaccabarozzi</a>, color and design by <a href="https://susydrake.net/" target="_blank">Susy Drake</a><br>
          | Powered by <a href="https://nanoc.ws/" target="_blank">Nanoc</a> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
