<% render 'default' do %>
  <% content_for :sidebar_extra do %>
    <h4>Reiser4-TrueCrypt liveCDs</h4>
    <p class="sections-sidetext">
These CDs were built with the intent to help people have a fast, reliable, small recovery disk in case they use Reiser4 as a main filesystem. The release was born and is intended for power users, that is: users that know how to deal with the commandline tools (and also users who don't but wish to learn).<br/>
I won't be offering support forums (at least for now) and I won't be accepting incoming requests about "how do I...?". There is <b>plenty</b> of documentation available on all of the features that are included in this release. Thus, when highlighting features, known bugs, packages, etc. I'll focus on things that are specific of this release, that is: things that you won't find elsewhere.<br/>
This product utilizes TrueCrypt, freely available at <a href="http://www.truecrypt.org/">TrueCrypt official site</a>.
    <% end %>
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <%= yield %>
      </div>
    </div>
<% end %>
