<div class="navbar" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-exl-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      	<div class="container-fluid"><img id="navbar-logo" src="/assets/img/logo.png" class="img-responsive"></img></div>
      </a>
  </div>
  <div class="collapse navbar-collapse navbar-exl-collapse">
    <ul class="nav navbar-nav nav-pills">
      <li></li>
      <li></li>

      <li class="dropdown">
        <a href="/livecd/" class="dropdown-toggle" data-toggle="dropdown">LiveCDs<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to_unless_current_withid('Features', '/livecd/features/') %></li>
          <li><%= link_to_unless_current_withid('Changelog', '/livecd/changelog/') %></li>
          <li><%= link_to_unless_current_withid('Download', '/livecd/download/') %></li>
          <li><%= link_to_unless_current_withid('Disclaimer (TrueCrypt)', '/livecd/disclaimer_truecrypt/') %></li>
          <li><%= link_to_unless_current_withid('Official thread @gentoo-forums', 'http://forums.gentoo.org/viewtopic-t-841256.html') %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="/scripts/" class="dropdown-toggle" data-toggle="dropdown">Scripts<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to_unless_current_withid('dfg2ext', '/scripts/dfg2ext/') %></li>
          <li><%= link_to_unless_current_withid('mp3conv', '/scripts/mp3conv/') %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="/overlay/" class="dropdown-toggle" data-toggle="dropdown">Overlays<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to_unless_current_withid('neo2', '/overlay/neo2/') %></li>
          <li><%= link_to_unless_current_withid('outdated', '/overlay/outdated/') %></li>
        </ul>
      </li>

      <li><%= link_to_unless_current_withid('About', '/about/') %></li>
      <li><%= link_to_unless_current_withid('Contact', '/contact/') %></li>

    </ul>
  </div> <!-- collapse -->
  </div> <!-- container -->
</div>
