<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="index.html">Faskatech.net</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li></li>
          <li></li>
	  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">LiveCDs<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Features</a></li>
              <li><a href="#">Changelog</a></li>
              <li><a href="#">Download</a></li>
              <li><a href="#">Disclaimer (TrueCrypt)</a></li>
              <li><a href="#">Official thread @gentoo-forums</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scripts<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">dfg2ext</a></li>
              <li><a href="#">mp3conv</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Overlays<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="overlays/neo2-overlay.html">neo2-overlay</a></li>
              <li><a href="overlays/outdated-overlay.html">outdated-overlay</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
