<% render 'default' do %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 offset1">
        <h3>Overlays</h3>
        <p>
There goes a list of my actual overlays. In the outdated-overlay ebuild list only appear ebuilds that are no longer mantained. Ebuilds that have newer versions available in neo2-overlay are not listed, though available in the overlay.
        </p>
      </div>
      <div class="span8">
	<div class="article">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
