<% render '01_container_with_ads' do %>
	<div class="container">
		<div class="content">
			<h4><%= item[:title] %></h4>
			<aside>Posted at: <%= get_pretty_date(item) %></aside>
			<p>Tags: <%= tags(item) %></p>
			<p/>
			<article>
				<%= yield %>
			<article>
		</div>
	</div>
<% end %>
