<% render '01_container_with_ads' do %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <h4>Scripts</h4>
        <p class="sections-sidetext">
This is a simple list of scripts that I've written myself. They are proof-of-concepts or small utilities which I could not find elsewhere.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <div class="article">
          <h3><%= @item[:title] %> - <%= @item[:subtitle] %></h3>
            <%= yield %>
	</div>
      </div>
    </div>
  </div>
<% end %>
