<div class="searchDiv">
<% if defined? @sidebar_text %>
	<p> @sidebar_text </p>
<% end %>
<div class="search-with-google">Search with Google</div>
<form action="http://www.google.com" id="cse-search-box" target="_blank">
<div>
<input type="hidden" name="cx" value="partner-pub-4671015040339426:7813195831" />
<input type="hidden" name="ie" value="UTF-8" />
<input type="text" name="q" size="19" />
<input type="submit" name="sa" value="Search" />
</div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

<script type="text/javascript" src="http://www.google.com/cse/query_renderer.js"></script>
<div id="queries"></div>
<script src="http://www.google.com/cse/api/partner-pub-4671015040339426/cse/7813195831/queries/js?oe=UTF-8&amp;callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render"></script>
</div>

<!-- RIGHT SKYSCRAPER --> <%= render 'google_ads' %> <!-- END RIGHT SKYSCRAPER -->
